---

---

<section class="section banner-team">
        <div class="container">
          <div class="banner-1">
            <div class="row align-items-center">
              <div class="col-lg-5">
                <h1 class="color-brand-1 mb-20 wow animate__animated animate__fadeIn" data-wow-delay=".0s">Nosotros</h1>
                    <h3 class="mission-text balanced mb-25">
                    El fin social de la <strong>Cooperativa PAIS</strong> es
                    <span>mejorar las condiciones de vida</span>
                    de los socios y comunidades, fortaleciendo el
                    <em>tejido social y económico</em> mediante
                    principios cooperativos.
                    </h3>
              </div>
              <div class="col-lg-7  d-lg-block">
                <div class="box-banner-team">
                  <div class="arrow-down-banner shape-1"></div>
                  <div class="arrow-right-banner shape-2"></div>
                  <div class="banner-col-1">
                    <div class="img-banner wow animate__animated animate__zoomIn" data-wow-delay=".0s"><img src="/assets/imgs/page/team/banner1.png" alt="iori"></div>
                  </div>
                  <div class="banner-col-2">
                    <div class="img-banner wow animate__animated animate__zoomIn" data-wow-delay=".2s"><img src="/assets/imgs/page/team/banner2.png" alt="iori"></div>
                    <div class="img-banner hasBorder wow animate__animated animate__zoomIn" data-wow-delay=".4s"><img src="/assets/imgs/page/team/banner3.png" alt="iori"></div>
                  </div>
                  <div class="banner-col-3">
                    <div class="img-banner hasBorder2 wow animate__animated animate__zoomIn" data-wow-delay=".6s"><img src="/assets/imgs/page/team/banner4.png" alt="iori"></div>
                    <div class="img-banner wow animate__animated animate__zoomIn" data-wow-delay=".8s"><img src="/assets/imgs/page/team/banner5.png" alt="iori"></div>
                    <div class="img-banner wow animate__animated animate__zoomIn" data-wow-delay="1s"><img src="/assets/imgs/page/team/banner6.png" alt="iori"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      <style>
        .mission-text.balanced {
        font-size: clamp(1.15rem, 1.8vw, 1.45rem);
        line-height: 1.7;
        font-weight: 500;
        color: #4b5563;
        max-width: 560px;
        }

        .mission-text.balanced strong {
        color: #0f172a;
        font-weight: 700;
        }

        .mission-text.balanced em {
        font-style: normal;
        font-weight: 600;
        color: #334155;
        }

        .mission-text.balanced span {
        padding: 2px 6px;
        border-radius: 6px;
        background: rgba(163, 22, 41, 0.12);
        color: #7d1826;
        font-weight: 600;
        }
      </style>