    
---
import AppStoreButton from "../components/shared/AppStoreButton.astro";
import GooglePlayButton from "../components/shared/GooglePlayButton.astro";


--- 
    <footer class="footer">
      <div class="footer-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 width-20">
              <div class="mb-10 indicator-badge"><img src="/assets/imgs/template/logo.png" alt="iori"></div>
              <p class="font-md mb-20 color-grey-400">Matriz Riobamba<br class="d-none d-lg-block">Espejo 30-33 y Nueva York</p>
              <div class="font-md mb-20 color-grey-400"><strong class="font-md-bold">Horario:</strong> 8:00 - 18:00, Lunes- Viernes</div>
              <div class="font-md mb-20 color-grey-400"><strong class="font-md-bold">Horario:</strong> 8:00 - 13:00, Sabado</div>
              <h6 class="color-brand-1">Síguenos</h6>
              <div class="mt-15">
                <a class="icon-socials icon-facebook" href="#"></a>
                <a class="icon-socials icon-instagram" href="#"></a> 
                <a class="icon-socials icon-youtube" href="#"></a>
            </div>
            </div>
            <div class="col-lg-3 width-16 mb-30">
              <h5 class="mb-10 color-brand-1">About Us</h5>
              <ul class="menu-footer">
                <li><a href="about.html">Mission &amp; Vision</a></li>
                <li><a href="team.html">Our Team</a></li>
                <li><a href="career.html">Careers</a></li>
                <li><a href="#">Press &amp; Media</a></li>
                <li><a href="#">Advertising</a></li>
                <li><a href="#">Testimonials</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-16 mb-30">
              <h5 class="mb-10 color-brand-1">Ressources</h5>
              <ul class="menu-footer">
                <li><a href="#">Project managemen</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">News & Events</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Support</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-16 mb-30">
              <h5 class="mb-10 color-brand-1">We offer</h5>
              <ul class="menu-footer">
                <li><a href="#">Project  software</a></li>
                <li><a href="#">Resource  software</a></li>
                <li><a href="#">Workflow automation</a></li>
                <li><a href="#">Gantt chart makers</a></li>
                <li><a href="#">Project dashboards</a></li>
                <li><a href="#">Task  software</a></li>
              </ul>
            </div>
            <div class="col-lg-3 width-23">
            <h5 class="mb-10 color-brand-1">Aplicación y Pagos</h5>
            <div>
            <p class="font-sm color-grey-400">
                Descarga nuestras aplicaciones
            </p>
            </div>
                <div class="mt-20">
               <AppStoreButton></AppStoreButton> 
               <GooglePlayButton></GooglePlayButton>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-2">
        <div class="container">
          <div class="footer-bottom">
            <div class="row">
              <div class="col-lg-6 col-md-12 text-center text-lg-start">
                <ul class="menu-bottom">
                  <li><a class="font-sm color-grey-300" href="term-conditions.html">Politica de Privacidad</a></li>
                  <!-- <li><a class="font-sm color-grey-300" href="term-conditions.html">Cookies</a></li> -->
                  <li><a class="font-sm color-grey-300" href="term-conditions.html">Terminós y condiciones</a></li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-12 text-center text-lg-end"><span class="color-grey-300 font-md">©CoopPais Official 2025. Todos los derechos reservados.</span></div>
            </div>
          </div>
        </div>
      </div>
    </footer>



    <style>

  .indicator-badge {
    background: #7d1826;
    color: #fff;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    
  }
    </style>