---
import Apphero from "../components/index/Apphero.astro";
import Servicios from "../components/index/Servicios.astro";
import Slider from "../components/index/Slider.astro";
import LayoutPrincipal from "../Layouts/LayoutPrincipal.astro";
import Navbar from "../shared/Navbar.astro";


const title = "Inicio — Mi Proyecto";
const description = "Bienvenido a mi proyecto construido con Astro y Tailwind 4";
const image = "/preview-home.png";
---

<LayoutPrincipal {title} {description} {image}>	
<Navbar/>
<main class="main">
<Slider/>
<Servicios/>
<Apphero></Apphero>
</main>
</LayoutPrincipal>
