---
import Bienvenidos from "../components/nosotros/Bienvenidos.astro";
import HeroNosotros from "../components/nosotros/HeroNosotros.astro";
import Proyeccion from "../components/nosotros/Proyeccion.astro";
import LayoutPrincipal from "../Layouts/LayoutPrincipal.astro";
import Footer from "../shared/Footer.astro";
import Navbar from "../shared/Navbar.astro";


const title = "Inicio — Mi Proyecto";
const description = "Bienvenido a mi proyecto construido con Astro y Tailwind 4";
const image = "/preview-home.png";
---

<LayoutPrincipal {title} {description} {image}>	
<Navbar/>
<main class="main">    
<HeroNosotros></HeroNosotros>
<Bienvenidos></Bienvenidos>
<Proyeccion></Proyeccion>
</main>
<Footer></Footer>
</LayoutPrincipal>
